{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}

    <div class="container">
      <div class="row">
          <div class="col text-left border bg-white border-dark">
              <p>
                  <br> <br>
                  Let's consider a scenario with the following features. <br>
                  You have 10 EMUs<br>
                  The probability of Asset A being selected for payment is 60% (meaning that the probability that Asset B is selected for payment is 40%)<br>
                  The rate of return for Asset A is 1.2<br>
                  The rate of return for Asset B is 1.3<br>
                  Suppose you chose to receive 5 EMUs today and invested the remaining 5 EMUs in Asset A<br>
                  Please answer the following questions<br>
                  <br>
              </p>
          </div>
      </div>
      <div class = "row border border-dark bg-white">
          <div class="col text-left bg-white">
              <div class = "row">
                  <div class = "col-9 text-center bg-white">
                      <br><br>
                      How many EMUs would you receive for today's work section if Asset A was randomly chosen for payment?
                      <br>
                  </div>
                  <div class = "col bg-white">
                      <br><br>{%formfield player.comp_instant label=""%}<br>
                  </div>
              </div>
          </div>
      </div>
      <div class = "row border border-dark bg-white">
          <div class="col text-left bg-white">
              <div class = "row">
                  <div class = "col-9 text-center bg-white">
                      <br><br>
                      How many EMUs would you receive for the work section in four weeks if Asset A was randomly chosen for payment?
                      <br>
                  </div>
                  <div class = "col bg-white">
                      <br><br>{% formfield player.comp_oneMonthA label="" %}<br>
                  </div>
              </div>
          </div>
      </div>
      <div class = "row border border-dark bg-white">
          <div class="col text-left bg-white">
              <div class = "row">
                  <div class = "col-9 text-center bg-white">
                      <br><br>
                      How many EMUs would you receive for the work section in four weeks if Asset B was randomly chosen for payment?
                      <br>
                  </div>
                  <div class = "col bg-white">
                      <br><br>{% formfield player.comp_oneMonthB label="" %}<br>
                  </div>
              </div>
          </div>
      </div>
    </div>
{% next_button %}


{% endblock %}
