{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    General Instructions
{% endblock %}

{% block content %}
<div>

<p>
This experiment will take place on two separate days—today, and the same day in four weeks' time. Please only take part in today's session if you are able to attend the session in four weeks. You will receive a $5 show-up fee today, and an additional $45 if you also successfully complete the session in four weeks.
</p>

<p>
Today's experimental session will have two sections: a <strong>“choice” section</strong> and a <strong>“work” section</strong>. The session in four weeks will consist only of a <strong>“work” section</strong>.
</p>

<p>
Each work section will last for 45 minutes. During this time, you will complete simple tasks on your computer. Specifically, you will be prompted at random times to answer simple questions (e.g., press a particular letter or solve a basic math problem). You will have a short time (5 seconds) to respond.
</p>

<p>
To successfully complete a work section, you must maintain a minimum accuracy of 80% on these tasks. You will receive the $45 bonus payment only if you successfully complete each work section.
</p>

<p>
Through the choices you make in today's choice section, you will have the opportunity to gain experimental monetary units (EMUs) which can then be used  to reduce the amount of time you spend performing these tasks (though you will still need to remain in the lab for the full 45 minutes).
</p>

<p>
The choice section consists of 2 parts. After you have completed both parts, 1 question will be selected at random, and you will receive EMUs for the work section today and the work section in 4 week's time based on the choices you made in that question. This in turn will determine how much work you have to perform in each work section. Each question from the two parts is equally likely to be chosen, so it is important that you pay attention to the choices you make in each question 
</p>


<p>
Each EMU can be used to reduce your working time by 2 minutes. For example, if you have 3.5 EMUs to spend in a session, you can reduce your working time by 7 minutes (to 38 minutes). During the remaining 7 minutes, you may relax, use your phone, etc. Note that EMUs have no other use besides reducing work time.
</p>





</div>

{% next_button %}

{% endblock %}