{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
  Instructions: Section 1
{% endblock %}

{% block content %}
<div>

  <p>
      In this part of the choice section you will be asked to make choices in a number of different scenarios. In each scenario, you will be given 10 EMUs, your "endowment". In most questions, you will have two decisions to make regarding what to do with these EMUs.
  </p>

  <p>
      First, you must decide how many EMUs to receive today and how many EMUs to save for the future. Any EMUs that you choose to receive today will reduce the amount of time you must spend doing tasks in today's "work" section. What happens to the EMUs you save for the future is described below.
  </p>

  <p>
      Second, if you decide to save EMUs for the future, you must decide how to divide them between two available assets, called Asset A and Asset B. These assets may pay out a number of EMUs in one month's time. Any EMUs you receive in one month's time can be used to reduce the amount of time you must spend doing work tasks in the "work" session that occurs then.
  </p>

  <p>
      One and only one of Asset A and Asset B will pay out EMUs. At the end of the experiment, the computer will randomly select one of the two assets to pay out. The probability of each asset paying out EMUs will vary from scenario to scenario. You will be informed of the exact probabilities in each scenario before you make your decision.
  </p>

  <p>
      The number of EMUs that each asset pays out if it is selected for payment is determined by its rate of return. This is a number between 1 and 5 that tells you how many EMUs you get back for every EMU you invest in that asset, assuming that asset is chosen for payment. For example, if the rate of return for Asset A is 1.2, you will receive 1.20 EMUs for every EMU you invest in Asset A, assuming that Asset A is chosen for payment. If Asset B is the one that pays out, then you would receive nothing from this investment.
  </p>

  <p>
      Again, the rate of return for each asset will vary from scenario to scenario. You will be told the rate of return before you make a decision.
  </p>

  <p>
      In some questions, the probability of one of the assets paying off will be 100%, and so the other asset will pay off 0% of the time. In such cases, you will only have to decide how many EMUs you would like to save. Any EMUs you save will automatically be invested in the asset that pays 100%.
  </p>

  <p>
      You will first be asked some questions that test your understanding of the experiment. You will not be able to proceed until you have correctly answered these questions.
  </p>

</div>

    {% next_button %}

{% endblock %}