{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    General Instructions
{% endblock %}

{% block content %}
<div>
  <p>
      In this experiment, you will be asked to make choices in multiple scenarios. The experiments have two parts, with several scenarios in each. At the end of the experiment, ONE scenario will be randomly selected from all questions across both parts. Your payment will be determined only by your answer to that selected question. It is therefore important that you think carefully about your choices in each scenario.
  </p>
    
  <p>
      You will receive a $5 payment for your participation in cash today. All other payments will be made by electronic transfer (either Venmo or PayPal). You will be asked to provide your account details at the end of the experiment. The questions you will answer will involve choosing between payments, some of which will take place today and some in one month's time. Payments will take place in the evening of the specified day (so, for example, if you are asked a question that involves payment today, the payment will be sent to you this evening). In addition to the $5 in cash, you will also receive a $5 participation fee via electronic transfer today and a further $5 transferred to you in one month's time. Note this means that, regardless of the decisions you make in the experiment, you will receive 2 electronic transfers, one today and one in 1 month's time.
  </p>
    

    {% next_button %}

{% endblock %}